 html,
body {
    height: 100%;
}

body {
    background-image: url('../background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .content {
        width: 50% ! important;
    }
}

@keyframes input-focus {
    from {
        border-color: #9ba4b4;
    }

    to {
        border-color: #0960bd
    }
}

.btn-group {
    text-align: center;
}

.btn {
    margin: 10px;
    padding: 7px 30px 7px 30px;
    border: none;
}

.btn-primary {
    color: #fff;
    background: #0779e4
}

.valid > .feedback {
    display: block;
    color: #79d70f;
}

.invalid > .feedback {
    display: block;
    color: #ec0101;
}

.feedback {
    display: none;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main-content"
}

.header {
    grid-area: header;
    text-align: center;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.ml-at {
    margin-left: auto;
}

.main-content {
    grid-area: main-content;
}

.button-group button {
    margin: 0 10px 0 10px;
}

.content {
    width: 75%;
    margin: 20px auto 20px auto;
    border-radius: 12px;
    background: #f1f6f9;
    padding: 10px;
}

.f-100 {
    flex: 100%;
}

.form-input {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.form-input>div {
    text-align: start;
    margin: 10px 5px 10px 5px;
    width: 60%
}

.form-input>label {
    margin: 10px 5px 10px 5px;
    text-align: end;
    width: 30%;
}

.form-input input[type="text"] {
    padding: 5px 5px 5px 0;
    width: 50%;
    border-color: #9ba4b4;
    border-style: none none solid none;
    background: transparent;
}

.group-date {
    display: flex;
    flex-flow: row;
    flex: 0 0 33%;
    align-items: flex-end;
}

.group-date div input[type="text"] {
    width: 80%;
}

.group-date div:nth-of-type(2) input[type="text"] {
    width: 100%;
}

/* .group-date div, .group-date input {
    width: 20%;
} */

.form-input input[type="text"]:active,
.form-input input[type="text"]:focus {
    outline: none;
    transition: 2s;
    border-color: #0960bd
}

.radio-input {
    display: flex;
    align-items: center;
}

.radio-input>input[type="radio"] {
    margin: 0 5px 0 5px;
}

.input-date {
    display: flex;
    flex-direction: row;
}

.input-date>div {
    margin-right: 10px;
}

.input-date>select {
    width: 20%;
}

.is-hide {
    display: none;
}

.mult-picklist-input {
    display: flex;
    flex-direction: row;
}

.mult-picklist-input>div:not(:nth-child(2)) {
    flex-grow: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.mult-picklist-input>div:nth-child(1) {
    text-align: end;
}

.mult-picklist-input>div:nth-child(3) {
    text-align: start;
}

.mult-picklist-input>.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select[multiple="true"] {
    width: 50%;
}

.form-input-muilt-picklist>div>label,
.form-input-muilt-picklist>div>input {
    width: 100%;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
}